*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial,sans-serif;
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    background: #23242B;
    padding: 20px;
}

.sidebar{
    display: flex;
    color: #fff;
    
}

.sidebar i{
    margin-left: 30px;
    margin-top: 2px;
    font-size: 25px;
    cursor: pointer;
}

.sidebar i:hover{
    color:#127b8e;
}

.sidebar b{
    color:#127b8e;
}

.account i{
    font-size: 30px;
}

.body{
    display: flex;
}


.side-bar{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background: #23242B;
}

.photo{
    margin-top: 20px;
    height: 20%;
}

.photo img{
    margin-left: 50px;
    height: 80%;
    border-radius: 100%;
}

.photo p{
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
    color: #cccccc;
}

nav{
    margin-top: 20px;
}

nav ul li{
    list-style: none;
    padding: 10px ;
    transition: 500ms;
    cursor: pointer;
}

nav ul li:hover{
    background :#127b8e;
    
}

nav ul li a{
    text-decoration: none;
}

nav ul li a i{
    font-size: 50px;
}

.nav i{
    margin-left: 10px;
    font-size: 25px;
}

.nav span{
    margin-left: 20px;
}

.background{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("img/bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-y: -50px;
   
}

.background h1 {
    color:#fff;
    font-size: 60px;
    text-transform: uppercase;
}

.background h2{
    color: #127b8e;
    font-size: 20px;
    background-color: #fff;
    padding: 7px ;
    text-align: center;
    font-weight: lighter;
}

#navbtn{
   display: inline-block;
   transition: 500ms color;
    
}

#checkbox{
    display: none;
}

#checkbox:checked ~ .body .side-bar{
    width: 60px;
}

#checkbox:checked ~ .body .side-bar .photo{
    visibility: hidden;
}

#checkbox:checked ~ .body .side-bar a span{
    visibility: hidden;
}